<div class="container overflow-hidden mt-5">
  <div class="row gy-lg-5 gy-sm-4">
    <div class="col-md-6">
      <div class="col gy-3">
        <div class="col-auto mx-auto d-block text-center">
          <img
            loading="lazy"
            height="192px"
            width="192px"
            class="rounded"
            src="images/sample.jpg"
            alt="Cybersecurity write ups"
          />
        </div>
        <div class="col text-center text-lg-left">
          <h3>Write Ups</h3>
          <p>Write ups for online cybersecurity labs I have completed.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="col gy-3">
        <div class="col-auto mx-auto d-block text-center">
          <img
            loading="lazy"
            height="192px"
            width="192px"
            class="rounded"
            src="images/sample.jpg"
            alt="Cybersecurity certifications"
          />
        </div>
        <div class="col text-center text-lg-left">
          <h3>Certifications</h3>
          <p>
            Cybersecurity certifications I have achieved.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
